* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 200px;
  background-color: antiquewhite;
}

.cart span {
  margin-left: 10px;
}

.card {
  width: 150px;
  height: 200px;
}

.card .product-box {
  background-color: antiquewhite;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.product-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  margin: 20px auto;
}
