.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 30px;
}

.buttons {
  display: flex;
  gap: 10px;
}
