body {
  font-family: sans-serif;
}

.data {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 45vw;
  margin-bottom: 20px;
}

.btn {
  width: 300px;

  margin-top: 40px;
}

.btn button {
  padding: 5px 25px;
  margin-left: 30px;
}
